<ngb-carousel *ngIf="images">
  <div>

  </div>
  <ng-template ngbSlide *ngFor="let image of images; index as i">
    <div class="picsum-img-wrapper">
      <img [src]="image" alt="Random slide"/>
    </div>
    <div class="carousel-caption" [ngSwitch]="i + 1">
      <h3 *ngSwitchCase="1">{{i + 1}}st foto</h3>
      <h3 *ngSwitchCase="2">{{i + 1}}nd foto</h3>
      <h3 *ngSwitchCase="3">{{i + 1}}rd foto</h3>
      <h3 *ngSwitchDefault>{{i + 1}}th foto</h3>
      <p>{{image}}</p>
    </div>
  </ng-template>

</ngb-carousel>
<div style="padding-bottom: 9vh"></div>
