

.mat-slide-toggle-thumb {
  content: '\e51c';
  font-family: 'Material Icons';
  font-size: 24px;
  color: red;
}

.mat-slide-toggle-bar {
  background-color: #ccc;
}

div {
  color: #333;
  height: 15vh;
}

.light-mode {
  color: black !important;
  background-color: white !important;
}

.dark-mode {
  background-color: #333 !important;
  color: white !important;
}
