<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>

<div>
  <mat-icon matSlideToggleLabel style="color:white">brightness_1</mat-icon>
  <mat-slide-toggle [ngClass]="'mat-slide-toggle-thumb'" [ngModel]="darkModeBoolean">
    <mat-icon matSlideToggleLabel style="color:white">brightness_2</mat-icon>
    <span style="color:white">Slide Toggle Label</span>
  </mat-slide-toggle>
  <app-navbar></app-navbar>
</div>
