table {
  width: 100%;
}

.mat-column-name {
  text-align: center;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.mat-column-discovered_by {
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-category {
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


table {
  position: relative;
  width: 350px;
  height: 250px;
  background: white;
  margin-bottom: 100px;
}


.light-mode {
  color: black !important;
  background-color: white !important;
  border-color: black !important;

}

.dark-mode {
  background-color: #333 !important;
  color: navajowhite !important;
  border-color: white !important;
}


.mat-mdc-table tbody, .mat-mdc-table tfoot,
.mat-mdc-table thead, .mat-mdc-cell,
.mat-mdc-footer-cell, .mat-mdc-header-row,
.mat-mdc-row, .mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {

  color: inherit;
  border-color: inherit;

}
